{% extends "include/b2_swmenu.html" %}


{% block sw1 %}
<div class="sw1_block">
    <table class="table">
        <colgroup>
            <col span="9" style="background:rgb(143, 240, 140)">
            <!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
            <col style="background-color:LightCyan"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
        </colgroup>
        <tr>
            <th>Коммутатор</th>
            <th>Адрес</th>
        </tr>
        {% for storemac in sw1_list %}
        <tr>
            <td>{{storemac.name}}</td>
            <td><a href="{% url 'StoreMacView2' storemac.id pn2 %}">{{storemac.ip_switch}}</a></td>
        </tr>
        {% endfor %}
    </table>
    <div class="q1">
        {% include 'include/multi_pagination2.html' with page_obj=sw1_list %}
    </div>
</div>
{% endblock sw1 %}