<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"-->
    <link rel="stylesheet" href="{% static '/sw1.css' %}">
    <link rel="stylesheet" href="{% static '/storemac.css' %}">
    <title>
        {% block title %}
        Main1
        {% endblock %}
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'StoreMacView' %}">Mac адреса</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'MacDhcpView' %}">Mac и IP адреса <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'DhcpView' %}">DHCP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SwithesView2' %}">Коммутаторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SwithesDetail' %}">Коммутаторы и mac</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'StoreMacView' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="IP switch или mac или vlan"
                    aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block content %}
    There is no any content
    {% endblock %}

</body>

</html>